.MLmodels{
    max-width: 700px;
    height:300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    align-items: center;
    border-radius: 10px;
}
.model_div{
    background-color: rgb(236, 225, 246);
    padding: 5px 10px ;
    font-size: 14px;
    font-weight: 600;
    width: 68px;
    color:rgb(74, 74, 74);
    border-radius:10px;
}
.info_models{
    max-width:400px;
}
.info_models h2{
    margin-top: 20px;
    font-size: 25px;
    font-weight: 550;
    color:rgb(56, 169, 255);
    font-family: 'Robotto', sans-serif;
}
.models_div_p{
    color:rgb(141, 142, 143);
    font-size: 14px;
}
.by{
    font-size: 12px;
    color:blue;
    font-weight: 600;
}
.company{
    display: flex;
    gap: 20px;
    align-items: center;
}
.image_1{
    width: 200px;
    height:150px;
    object-fit: cover;
}