@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Outfit:wght@100;200;400;600&family=Poppins:wght@300&family=Quicksand&family=Roboto+Slab:wght@600;700&family=Roboto:wght@300;500&family=Whisper&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background: rgb(248,246,255);
 
}
  
  a {
    color: #394867;
    text-decoration: none;
  }
  
  a:hover {
    color: #394867;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }
  /* Add your existing CSS styles here */

  .mobile-nav-toggle {
    display: none;
  }
.main_{
  margin-top:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:50px;
}

.hero_img{
  width:550px;
}
.hero_h4{
 color: #02286a;
 font-family: 'Roboto Slab', serif;
 font-weight: 600;
 font-style: bold ;
 line-height: 86px;
  font-size: 65px;
}
.hero_p{
  margin-top: 20px;
  color:rgb(141, 141, 141);
  font-family: 'Roboto', sans-serif;
  font-size: 23px;
}
.button-30 {
  margin-top: 20px;
  background-color: #93eae3;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #444444;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  line-height: 1.5rem;
  padding: 2.2rem 6.6rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.button-30:hover {
  background-color: #374151;
}

.button-30:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


@media (min-width: 200px) and (max-width: 400px) {
  .main_ {
    display: block;
    padding: 30px;
    margin-top: 60px;
  }
  .hero_img {
    width: 250px;
    margin-left: 15px;
  }
  .hero_h4 {
    font-size: 30px;
    line-height:40px;
  }
  .hero_p{
    font-size: 13px;
    font-weight: 600; 
  }
  .button-30{
    padding:2.0rem 2.2rem;
  }
}
@media (min-width: 400px) and (max-width: 600px) {
  .main_ {
    display: block;
    padding: 30px;
    margin-top: 60px;
  }
  .hero_img {
    width: 370px;
    margin-left: 30px;
  }
  .hero_h4 {
    font-size: 40px;
    line-height:45px;
  }
  .hero_p{
    font-size: 16px;
    font-weight: 600; 
  }
  .button-30{
    padding:2.0rem 2.2rem;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  .main_ {
    display: block;
    padding: 30px;
    margin-top: 60px;
  }
  .hero_img {
    width: 470px;
    margin-left: 100px;
  }
  .hero_h4 {
    font-size: 45px;
    line-height:50px;
  }
  .hero_p{
    font-size: 18px;
    font-weight: 600; 
  }
  .button-30{
    padding:2.0rem 2.2rem;
  }
}
@media (min-width: 800px) and (max-width: 1065px) {
  .main_ {
    display: block;
    padding: 30px;
    margin-top: 60px;
  }
  .hero_img {
    width: 550px;
    margin-left: 200px;
  }
  .hero_h4 {
    font-size: 50px;
    line-height:50px;
  }
  .hero_p{
    font-size: 23px;
    font-weight: 600; 
  }
  .button-30{
    padding:2.0rem 2.2rem;
  }
}

.about_us{
  text-align: center;
}
.about_us_h4{
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
}
.about_us_p{
  font-size: 18px;
  color: rgb(183, 181, 181);
  font-family: 'Roboto', sans-serif;
}
.about_us_1{
  display: flex;
  justify-content: center;
  gap:50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.about_us_divs{
 
  padding: 20px 30px;
  text-align: left;
  background: #E8E7E738;
  width:320px;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.about_us_divs h4{
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  color: #613E78;

}
.about_us_divs p{
  margin-top: 10px;
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  color: rgb(183, 181, 181);

}
.about_us_img{
  width:200px;
  height: 150px;
  object-fit: cover;
}
.photo_gallery{
  text-align: center;
  padding: 20px;
}

#Slider{
  margin-top: 20px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.slider_images{
  border-radius: 25px;
  width:380px;
  height:530px;
  object-fit: cover;
}

@media (min-width:250px) and (max-width:350px){
  .slider_images{
    width:200px;
    height:200px;
}
}
.clubs{
  text-align: center;
  padding: 30px;
 
  
}
.clubs_1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  column-gap:30px;
  justify-content: center;
}
.club_divs{
  padding-top:15px;
  border-radius: 10px;
  width:280px;
  background: #f1effb;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}
.club_img_div{
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  height:200px;
}
.club_images{
  position:absolute;
  left:30%;
  width:150px;
  object-fit: cover;
}
.club_head{
  position:relative;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height:60px;
  background:#613E7829;
}
.club_head h4{
  position: absolute;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  font-size: 23px;
  color: grey;
}
.contact_divs{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.email-form{
  width:400px;

}
.col .form-group{
  flex-wrap: wrap;
}
.contact_h4{
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
}
@media(max-width:900px){
  .email-form{
    width: 300px;
  }
  .contact_img{
    width: 330px;
  }
}
.web{
  margin-top: -40px;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap ;
  align-items: center;
  justify-content: center;
  gap:40px;
}
.web-divs{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #f1effb;
  
}
.web-div{
  width: 120px;
  padding: 20px;
  height:120px;
}
.web img{
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.web h4{
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}
.web p{
  font-size: 15px;
  font-family: 'Roboto', serif;
}
.links{
  display: flex;
  gap: 20px;
}
.links a{
  font-size: 20px;
}
  .card {
    width: auto;
    min-height: 250px;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 18px );
    -webkit-backdrop-filter: blur( 18px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 1rem;
    padding: 1.5rem;
    z-index: 10;
    color: whitesmoke;
  }
  .blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      180deg,
      rgba(47, 184, 255,0.42) 31.77%,
      #5c9df1 100%
    );
    mix-blend-mode: color-dodge;
    -webkit-animation: move 25s infinite alternate;
            animation: move 25s infinite alternate;
    transition: .6s cubic-bezier(0.07, 0.8, 0.16, 1);
  }
  
  .blob:hover {
    width: 520px;
    height: 520px;
    -webkit-filter: blur(30px);
            filter: blur(30px);
    box-shadow:
      inset 0 0 0 5px rgba(255,255,255, 0.6),
      inset 100px 100px 0 0px #fa709a,
      inset 200px 200px 0 0px #784ba8,
      inset 300px 300px 0 0px #2b86c5;
  }
  
  @-webkit-keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }
  
  @keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: inline-block;
      font-size: 24px;
      cursor: pointer;
    }
  
    .logo-container {
      display: none;
    }
  
    #navbar {
      position: relative;
      background-color: #fff;
      z-index:1000;
      
    }
  
    #navbar ul {
      display: none;
      position: absolute;
      top: 120%;
      left: -165px;
      width: 100%;
     
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  
    #navbar.mobile-nav-open ul {
      width:200px;
      background: white;
      display: block;
      animation: slideIn 0.5s ease-in-out backwards;
    }
  
    @keyframes slideIn {
      from {
        opacity: 0;
        transform: translateX(100%);
      }
      to {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }
  
  
 @media(max-width:500px){
  .testimonial-item{
    width:100px;
  }
  .Headimages{
    width:150px;
  }
 }
 .sliding{
  width:1000px;
  display: flex;
  flex-direction: row;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-left: 30px;
 }
 .slidingimages{
  width:500px;
  height:482px;
 }
 .desc{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #394867;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  
  .back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
  }
  
  .back-to-top:hover {
    background: #e65d5f;
    color: #fff;
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }
  
  /*--------------------------------------------------------------
  # Disable aos animation delay on mobile devices
  --------------------------------------------------------------*/
  @media screen and (max-width: 768px) {
    [data-aos-delay] {
      transition-delay: 0 !important;
    }
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background-color: #fbfbfb;
    transition: all 0.5s;
    z-index: 997;
    padding: 10px 0;
    border-radius: 5px;
  }
  
  #header.header-scrolled {
    padding: 12px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #header .logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
  }
  
  #header .logo a {
    color: #111111;
  }
  
  #header .logo a span {
    color: #394867;
  }
  
  #header .logo img {
    max-height: 65px;
  }
  
  /*--------------------------------------------------------------
  # Get Startet Button
  --------------------------------------------------------------*/
  .get-started-btn {
    margin-left: 30px;
    background: #394867;
    color: #fff;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
  }
  
  .get-started-btn:hover {
    background: #111111;
    color: #fff;
  }
  .mobile-nav-toggle {
    display: none;
  }
  @media (max-width: 768px) {
    .navbar ul {
      display: none;
    }
  
    .mobile-nav-open .navbar ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .mobile-nav-toggle {
      display: block;
      font-size: 24px;
      color: #333;
      cursor: pointer;
      transition: 0.3s;
    }
  
    .mobile-nav-toggle:hover {
      color: #555;
    }
  }
  
  @media (max-width: 992px) {
    .get-started-btn {
      margin: 0 15px 0 0;
      padding: 6px 18px;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
   
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #394867;
  }
  

  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #111111;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
    display: none;
    margin-right: 30px;
    line-height: 0;
    transition: 0.5s;
  }
  
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .navbar-mobile a,
  .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #111111;
  }
  
  .navbar-mobile a:hover,
  .navbar-mobile .active,
  .navbar-mobile li:hover>a {
    color: #394867;
  }
  
  .navbar-mobile .getstarted,
  .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar-mobile .dropdown ul a:hover,
  .navbar-mobile .dropdown ul .active:hover,
  .navbar-mobile .dropdown ul li:hover>a {
    color: #394867;
  }
  
  .navbar-mobile .dropdown>.dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    padding-top: 82px;
  }
  
  #hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #fff;
  }
  
  #hero h2 {
    color: #fff;
    margin: 10px 0 0 0;
    font-size: 24px;
  }
  
  #hero .btn-get-started, .btn-get-started{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    color: #040404;
   background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    
  }
  
  #hero .btn-get-started:hover,.btn-get-started:hover {
    background: transparent;
    border-color: #fff;
  }
  
  @media (max-width: 768px) {
    #hero {
      text-align: center;
      padding-top: 58px;
    }
  
    #hero h1 {
      font-size: 28px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }
  


/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 22px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}