/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.button-40 {
    background-color: #93eae3;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #444444;
    cursor: pointer;
    flex: 0 0 auto;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Rubik Scribble", system-ui;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 2rem 2.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
  }
  
  .button-40:hover {
    background-color: #374151;
  }
  
  .button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button-40 {
      padding: 1.2rem 4rem;
    }
  }